@import "tailwindcss";
@plugin "daisyui";

@theme {
    --animate-spawn: spawn 500ms cubic-bezier(1, 0.3, 0.7, 0) both;

    @keyframes spawn {
        0% {
            transform: scale(2);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
}

@plugin "daisyui/theme" {
    name: "bento";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(97% 0.04 340);
    --color-base-200: oklch(92.5% 0.024 82);
    --color-base-300: oklch(70% 0.07 129);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(63% 0.23 47);
    --color-primary-content: oklch(95% 0.03 270);
    --color-secondary: oklch(75% 0.19 12);
    --color-secondary-content: oklch(98% 0.02 0);
    --color-accent: oklch(82% 0.12 185);
    --color-accent-content: oklch(38% 0.06 188);
    --color-neutral: #1c0118;
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(78% 0.14 235);
    --color-info-content: oklch(32% 0.06 245);
    --color-success: oklch(75% 0.18 160);
    --color-success-content: oklch(35% 0.08 165);
    --color-warning: oklch(82% 0.19 75);
    --color-warning-content: oklch(42% 0.1 50);
    --color-error: oklch(70% 0.2 15);
    --color-error-content: oklch(28% 0.11 10);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 0;
}
